html, body {
    height: 100%;
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
    margin: 0;
    font-weight: bold;
}

#header {
    font-size: 15pt;
    width: 100%;
    color: #004793;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#title {
    flex: 1;
}

#back {
    text-align: right;
}

#section {
    padding: 20px;
}

.toc {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-bottom: 20px;
}

.toc h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #004793;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc ul > li {
    margin: 10px 0;
    position: relative;
}

.toc ul li a {
    text-decoration: none;
    color: #004793;
    font-weight: bold;
    transition: color 0.3s ease;
    padding-left: 20px;
}

.toc ul li a:hover {
    color: #007BFF;
}

.toc ul li::before {
    content: "・";
    position: absolute;
    left: 0;
    color: #004793;
}

.toc ul li ul {
    padding-left: 20px;
    margin-top: 5px;
}

.toc ul li ul li {
    margin: 5px 0;
}

.toc ul li ul li a {
    font-weight: normal;
}

.content {
    font-size: 18px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 26px;
    color: #004793;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #004793;
    padding-bottom: 5px;
}

.content h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

.content p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.toc input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.game-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.game-item:hover {
    transform: scale(1.01);
}

.game-item h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.game-item p {
    margin: 0;
}
