html, body {
    height: 100%;
    font-family: "Yu Gothic", "游ゴシック", "YuGothic", sans-serif;
    margin: 0;
    font-weight: bold;
}

#header {
    font-size: 20pt;
    width: 100%;
    color: #004793;
    padding: 20px;
    display: flex;
}

#title {
    width: 50%;
}

#back {
    width: 50%;
    text-align: right;
}

#section {
    padding: 0px 20px 0px 20px;
}


.toc {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.toc h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #004793;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc ul > li {
    margin: 10px 0;
    position: relative;
}

.toc ul li a {
    text-decoration: none;
    color: #004793;
    font-weight: bold;
    transition: color 0.3s ease;
    padding-left: 20px;
}

.toc ul li a:hover {
    color: #004793;
}

.toc ul li::before {
    content: "・";
    position: absolute;
    left: 0;
    color: #004793;
}

.toc ul li ul {
    padding-left: 20px;
    margin-top: 5px;
}

.toc ul li ul li {
    margin: 5px 0;
}

.toc ul li ul li a {
    font-weight: normal;
}

.content {
    font-size: 18px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 26px;
    color: #004793;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #004793;
    padding-bottom: 5px;
}

.content h1 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.content p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.toc input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

